/* Mobile View CSS */

@media (min-width: 768px) {
  .logo-container .mobile-logo{
    display: none;
  }
}


/* navbar styling */
@media (max-width: 767px) {
  .logo-container .mobile-logo{
    height: 45px;
    margin-left: 0px;
  }
  .logo-container .logo{
    display: none;
  }

  .page-head {
    font-size: 22px;
  }

  /* Adjustments for the right icons */
  .right-icons .ellipse-div:nth-child(2){
    display: none;
  }

  /* Adjustments for the ellipse div */
  .ellipse-div {
    width: 47px;
    height: 47px;
    text-align: center;
    margin: 0px;
  }

  /* Adjustments for the email text */

  .email-container {
  position: relative;
  display: inline-block;
}

.email-box {
  display: none;
  position: absolute;
  bottom: -50px;
  left: -50px;
  transform: translateX(-50%);
  background-color: #f9f9f9;
  color: #333;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.email-container:hover .email-box {
  display: block;
}
  .fa-user {
    margin: -2px 0px 3px 0px;
  }

}

@media (max-width: 767px) {
.sizeadd{
    display: none;
}

.page {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  
}

.page img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.drawingArea {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -160px; /* Half the height of the canvas */
  margin-left: -90px; /* Half the width of the canvas */
  z-index: 0;
}

}


/* leftbar */
@media (max-width: 767px) {
  .container .sidebar{
    display: none;
  }

body {
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.container footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px; /* Adjust the value as needed */
  background-color: #000;
  color: #fff;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.container .bottom-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container .bottom-bar ul {
  list-style-type: none;
  padding: 0;
  margin-left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .bottom-bar li {
  margin-right: 10px;
}

.container .bottom-bar .icon {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}


.sidebar-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  width: 100vw; /* Set the width to full screen width */
  top: auto; /* Remove the top positioning */
  bottom: 0; /* Position the sidebar at the bottom */
  left: 0; /* Position the sidebar on the left */
  z-index: 1; /* Increase the z-index to make sure it appears above other elements */
  height: 45vh; /* Set the height to 50% of the screen height */
  background-color: #fe4536;
  visibility: hidden;
  transition: transform 0.3s ease; /* Add transition for smooth animation */
  border-radius: 15px 15px 0 0; 
  
}

.sidebar-content.active {
  visibility: visible;
  transform: translateY(-15%); /* Slide the sidebar up above the footer */
  transform: translateY(calc(-10vh + 31px));
}

.color-options {
    display: flex;
    gap: 50px; /* Adjust the value as needed */
}
.color-preview1 {
    width: 100px;
    align-items: center;
    grid-template-columns: 2fr 3fr;
    height: 40px;
    padding: 0;
}

.color-preview1 .favcolor1 {
    background-color: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    width: 30px;
    height: 33px;
}

.color-preview2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
}

.span6 .clearfix {
  position: fixed;
  top: 15%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

}


/* right bar styling */
@media(max-width: 767px){
.size-icon {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 60px; /* Update height to twice the width */
  border-radius: 45px 0 0 45px; /* Update border-radius to create a left semicircle */
  background-color: #000000;
  z-index: 1;
}

.size-icon i {
  position: relative;
  top: 50%;
  left: 25%;
  transform: translateY(-50%);
  color: #ffffff;
  z-index: 2;
  font-size: 20px;
  animation: toggleAnimation 1s ease-in-out  alternate;
}
.sizeadd {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #e1e1e1;
}

.size-box {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.size-chart {
position: relative;
font-size: 28px;
line-height: 14px;
text-transform: uppercase;
font-weight: 600;
font-family: Rubik;
color: #000;
text-align: center;
margin-top: 190px; 
margin-bottom: 30px;
/* left: 2%; */
}
#sizeChartModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.modal-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-left: 0;
}
.table{
  align-items: center;
  justify-content: center;
  margin-left: 35%;
}
/* .modal-content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -5px;
    width: 350px;
}  */
#addToTheBag {
  margin-top: 10px; /* Add margin-top to create spacing between table and button */
}
.place-order{
  left: 0px;
}

@keyframes toggleAnimation {
  0% {
    left: 20%;
  }
  100% {
    left: 0;
  }
}



}